<a href="https://colab.research.google.com/github/Epark3004/F2022/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
  import pandas as pd

  data = [['Choi',22],['Kim',48],['Joo',32]]

  df = pd.DataFrame(data, columns=['Name','Age'])

  print(df)
  #   Name  Age
  #0  Choi   22
  #1   Kim   48
  #2   Joo   32

   Name  Age
0  Choi   22
1   Kim   48
2   Joo   32

# 새 섹션