<a href="https://colab.research.google.com/github/Epark3004/F2022/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  import pandas as pd

  data = [['Choi',22],['Kim',48],['Joo',32]]

  df = pd.DataFrame(data, columns=['Name','Age'])

  print(df)
  #   Name  Age
  #0  Choi   22
  #1   Kim   48
  #2   Joo   32

   Name  Age
0  Choi   22
1   Kim   48
2   Joo   32

In [12]:
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
df

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [13]:
df.mean()

A     5.50
B    16.50
C    11.60
D     6.25
dtype: float64